doctype html
body
  
  h2 Oops! Usage:

  p Search by single word anywhere in name:
    br
    code #{url}/v1/food?name=apples

  p Search by multiple words anywhere in name:
    br
    code #{url}/v1/food?name=apples
  
  p Search by matching word at start of name:
    br
    code #{url}/v1/food?name=apples&match_start=true
